main {

  width: 80%;
  margin: 1rem auto;
}

.image {
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../assets/bgc.jpg');
  background-position: 50% 50%;
  opacity: 0.9;
}
